
*{
	margin: 0 auto;
}


body{
	width: 100%;
  height: 100%;
  font-size :100%;
  font-family: Times New Roman, Serif;

}

.header{
  width: 100%;
  height: 100%;
  font-size :100%;
	position: fixed;
	background-color: black;
	height: 65px;
	color: white;
	float: left;
	z-index: 1;
	font-family: Courier New, monospace;
		
}

.dropdown{
	position: fixed;
	top: 20px;
	right: 100px;
	display: inline-block;
	border-style : solid;
	border-width: 1px;
	border-color: white;
	padding: 5px 10px 5px 10px;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: gray;
	min-width: 75px;
	box-shadow: 0px 8px 10px 0px rgba(0,0,0,2);
	padding: 2px 0px 5px 5px;
	align-content: left;
	font-size: 100%;
	z-index: 1;
}

.dropdown-content a{
	color: white;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #5b5b5b;
}

.dropdown:hover .dropdown-content{
	display:block;
}

.body-content{

	background-image: url(Images/background.png);
	font-size : 1.5rem;
	color: gray;
  min-height: 100%
  width: 100%;
  height: auto;

}

h1{
	padding-right: 15px;
	font-size : 2rem;
	
}

h2{
	font-size: 1rem;
	padding-left: 15px;

}

.row{
  padding-top: 90px;

}
.line-break{
	width: 100%;
	display: block;
	height : 1px;
	margin : 2px 0px;
	background-color: black;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 25%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1000px;
}

.modal-content2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1000px;
}


.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close2 {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.mySlides {
  display: none;
}

.mySlides2 {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


img.demo2 {
  opacity: 0.6;
}

.active,
.demo2:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{

  width: 100%;
  height: auto;
}



.footer{
  
  background-color: black;
  height: 65px;
  color: white;
  width: 100%;
  float: left;
  z-index: 1;
  font-family: Courier New, monospace;
  left: 0;
  bottom: 0;

}